.dashboardContainerLightMode {
  background: #f0ece2;
  height: 100%;

  button {
    background: #f0ece2;
    color:var(--header-bg);
  }
}
.dashboardContainerDarkMode {
  background: #121212;
  /* background-color: rgb(5, 5, 5,0.9); */
  height: 100%;

  button {
    background: #03DAC5;
    color: #010101;
  }
  
  
h1 , p, span {
  font-family: "Inter";
  color: #010101;
}
}


.dashboardContent {
  display:flex; 
   gap: 1.4rem; 
  padding : 30px 5px;
  height: calc(100% - 50px);
  
}




.noGroup {
  background-color: var(--card-bg);
  border:1px solid black;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 80px;
  width: 330px;
  
  margin: 20px;


  

  input {
    overflow: auto;
    border: 1px solid #d7d7d756;
    padding: 0.5rem;
    background: transparent;
    font-size: 1.5rem;
    font-weight: 600;
    color : rgb(27,27,217);
    transition: border-color 0.3s;
    &:hover {
      border-color: #383333;
    }
  }

}

.noGroupDarkMode {
  background-color:#010101;
  color: #f0ece2;
  border:1px solid black;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 80px;
  width: 330px;
  
  margin: 20px;
}

.buttonDark {
  right: 50px;
  top : 100px;
  position: absolute;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  background: #010101;
  color:#f0ece2;
}
